<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<div layout:fragment="header" class="header-wrap">
  <a class="header-logoImg" href="/"></a>
  <div class="header-idSearch-wrap">
    <button class="nationSelectBtn">KR</button>
    <input type="text" name="inGameId" class="searchInGameId" placeholder="소환사이름"/>
    <button class="inGameIdSubmitBtn"><span class="material-symbols-outlined">search</span></button>
  </div>
</div>